<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ph="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">

<f:view>
    <h:outputLabel value="Hello, world"/>

    <h:form prependId="false">

        <h:messages ></h:messages>

        <label>Caption</label>
        <input jsf:id="caption" type="text"
               jsf:label="Caption"
               placeholder="Enter the caption"
               value="#{index.todo.caption}"></input>

        <label>Description</label>
        <h:inputText value="#{index.todo.description}"
                ph:placeholder="Enter the description"/>

        <label>Priority</label>
        <h:inputText ph:type="number"
                     ph:min="0" ph:max="100"
                     value="#{index.todo.priority}"></h:inputText>

        <h:commandButton value="Save" label="Create" action="#{index.save}"></h:commandButton>

    </h:form>

</f:view>
</html>
